<div id="navigation_links">
  <div class="navigation_item"><a href="/products/">SEARCH</a></div>
  <div class="navigation_item"><a href="/users/edit">MY PROFILE</a></div>
  <div class="navigation_item"><a href="/orders/purchased">ORDER STATUS</a></div>
  <div class="navigation_item"><a href="/products/new">ADD A PRODUCT</a></div>

</div>