<div id="footer">
  <div id="left">
    <span id="rights">Buybox.com, All rights reserved.</span>
    <span id="footer_links">
        <a href="/about">About Us</a>
        <a href="/faq">FAQ</a>
        <a href="/privacypolicy">Privacy Policy</a>
        <a href="/termofuse">Terms of Use</a>
		    <a href="/contact">Contact Us</a>
    </span>
    <br>
    <span id="support">For technical support, email <a id="email" href="mailto:help@buybox.com">help@buybox.com</a>.</span>
  </div>
  <div id="right"></div>
</div>