<div id="footer">
  <div id="left">
    <span id="rights">Buybox.com, All rights reserved.</span>
    <span id="footer_links">
        <a href="/privacy.html">Privacy Policy</a>
        <a href="/terms.html">Terms of Use</a>
		<a href="/contact">Contact Us</a>
    </span>
    <br>
    <span id="support">For technical support, email <a id="email" href="mailto:help@buybox.com">help@buybox.com</a>.</span>
  </div>
  <div id="right"></div>
</div>