<div id="navigation_links">
  <div class="navigation_item"><a href="/users/edit">SETTINGS</a></div>
  <div class="navigation_item"><a href="/products/list">INVENTORY</a></div>
  <div class="navigation_item"><a href="/orders/purchased">PURCHASES</a></div>
  <div class="navigation_item"><a href="/products/new">SELL A PRODUCT</a></div>
</div>