<div id="navigation_links">
  <div class="navigation_item"><a href="/users/account_settings">SETTINGS</a></div>
  <div class="navigation_item"><a href="/products/purchases">PURCHASE</a></div>
  <div class="navigation_item"><a href="/orders/sales">SALES</a></div>
  <div class="navigation_item"><a href="/products/add">SELL A PRODUCT</a></div>
</div>