<div id="sub_navigation_links">
  <div class="navigation_item current_page"><a href="/users/show">ACCOUNT INFORMATION</a></div>
  <div class="navigation_item"><a href="/users/edit">ACCOUNT SETTINGS</a></div>
  <div class="navigation_item"><a href="/users/buyer_information">BUYER INFORMATION</a></div>
  <div class="navigation_item"><a href="/users/connection">CONNECTION</a></div>
</div>

