<div id="sub_navigation_links">
  <div class="navigation_item"><a href="/users/show">ACCOUNT INFORMATION</a></div>
  <div class="navigation_item"><a href="/users/edit">ACCOUNT SETTINGS</a></div>
  <div class="navigation_item"><a href="/users/buyer_information">BUYER INFORMATION</a></div>
  <div class="navigation_item current_page"><a href="/users/connection">CONNECTION</a></div>
</div>

<form name="input" action="connection" method="get">
    Facebook: <input type="text" name="facebook" placeholder="Please enter your Facebook URL" value="<%= @current_facebook %>"> <br>
    Twitter: <input type="text" name="twitter" placeholder="Please enter your Twitter URL" value="<%= @current_twitter %>"> <br>
    <input type="submit" value="Submit">
    <%= params.inspect %>
    <%= @user.inspect %>
</form>
