<div id="sub_navigation_links">
  <div class="navigation_item current_page"><a href="/about">ABOUT US</a></div>
  <div class="navigation_item"><a href="/ocd">TEAM OCD</a></div>
  <div class="navigation_item"><a href="/faq">FAQ</a></div>
  <div class="navigation_item"><a href="/privacypolicy">PRIVACY POLICY</a></div>
  <div class="navigation_item"><a href="/termofuse">TERM OF USE</a></div>
  <div class="navigation_item"><a href="/contact">CONTACT US</a></div>
</div>

<div class="container-fluid content_padding">
  <div class="row-fluid">

  	<h2>About Us</h2>

	<h3>Learn more about BUYBOX...</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae lacus justo, eget porttitor magna. Fusce dapibus eleifend turpis non ullamcorper. Integer orci diam, dictum quis scelerisque ac, ultrices sit amet diam. Suspendisse potenti. In iaculis cursus velit a sollicitudin. Nullam aliquam mollis fringilla. </p>
	
  </div>
</div>





