<div id="sub_navigation_links">
  <div class="navigation_item current_page"><a href="/about">ABOUT US</a></div>
  <div class="navigation_item"><a href="/ocd">TEAM OCD</a></div>
  <div class="navigation_item"><a href="/faq">FAQ</a></div>
  <div class="navigation_item"><a href="/privacypolicy">PRIVACY POLICY</a></div>
  <div class="navigation_item"><a href="/termofuse">TERM OF USE</a></div>
  <div class="navigation_item"><a href="/contact">CONTACT US</a></div>
</div>

<div class="container-fluid content_padding">
  <div class="row-fluid">

  	<h2>About Us</h2>

	<h3>Learn more about BUYBOX...</h3>
	<p>Buybox is a project by 9 University of California, San Diego students. We set out to redefine marketplace. Our two major goals were to cut out the clutter and make it amazingly simple to list and buy products (it takes less than 45 seconds to post an item from a smartphone). Next goal was to bridge the gap between online marketplace and offline marketplace and therefore we have integrated some unique features such as purchase with QR Code to make it simple to sell your digital goods offline. </p>
	
  </div>
</div>





