<div id="sub_navigation_links">
  <div class="navigation_item"><a href="/about">ABOUT US</a></div>
  <div class="navigation_item"><a href="/ocd">TEAM OCD</a></div>
  <div class="navigation_item current_page"><a href="/faq">FAQ</a></div>
  <div class="navigation_item"><a href="/privacypolicy">PRIVACY POLICY</a></div>
  <div class="navigation_item"><a href="/termofuse">TERM OF USE</a></div>
  <div class="navigation_item"><a href="/contact">CONTACT US</a></div>
</div>

<div class="container-fluid content_padding">
  <div class="row-fluid">
  	<h2>FAQ</h2>
        	<p>&nbsp;</p>
           	<p>&nbsp;</p>
       	  <h3>What can I sell?</h3>
        	<p>Most people use BuyBox to sell the things that they've made. These include songs, albums, videos, 
			photos, and other things. Even T-shirts! You can sell anything that you can upload or link to.</p>
			<p>&nbsp;</p>
        	<p>&nbsp;</p>
       	  <h3>Can I upload a file?</h3>
        	<p>Yes! You can upload any sort of file from your computer. We have a file size limit of 4GB, per product.</p>
			<p>&nbsp;</p>
        	<p>&nbsp;</p>
       	  <h3>What can I price a product?</h3>
        	<p>Using traditional pricing, you can price a product for as little as $1, and as much as $1000. 
			We also allow a pay-what-you-want pricing model, 
			which lets your customers pick a price above what you specify (including $0). 
			You can also price your products in £, €, and ¥.</p>
			<p>&nbsp;</p>
        	<p>&nbsp;</p>
       	  <h3>How can people pay?</h3>
        	<p>BuyBox supports all major credit cards (and some debit cards). 
			That includes Visa, MasterCard, American Express, Discover, JCB, and Diners Club cards.</p>
			<p>&nbsp;</p>
        	<p>&nbsp;</p>			
  </div>
</div>


