<div id="sub_navigation_links">
  <div class="navigation_item"><a href="/about">ABOUT US</a></div>
  <div class="navigation_item"><a href="/ocd">TEAM OCD</a></div>
  <div class="navigation_item current_page"><a href="/faq">FAQ</a></div>
  <div class="navigation_item"><a href="/privacypolicy">PRIVACY POLICY</a></div>
  <div class="navigation_item"><a href="/termofuse">TERM OF USE</a></div>
  <div class="navigation_item"><a href="/contact">CONTACT US</a></div>
</div>

<div class="container-fluid content_padding">
  <div class="row-fluid">
  	<h2>FAQ</h2>
        	<p>&nbsp;</p>
           	<p>&nbsp;</p>
       	  <h3>What can I sell?</h3>
        	<p>Most people use BuyBox to sell the things that they've made. These include songs, albums, videos, 
			photos, and other things. Even T-shirts! You can sell anything that you can upload or link to.</p>
			<p>&nbsp;</p>
        	<p>&nbsp;</p>
       	  <h3>Can I upload a file?</h3>
        	<p>Yes! You can upload any sort of file from your computer. We have a file size limit of 4GB, per product.</p>
			<p>&nbsp;</p>
        	<p>&nbsp;</p>
       	  <h3>What can I price a product?</h3>
        	<p>Using traditional pricing, you can price a product for as little as $1, and as much as $1000. 
			We also allow a pay-what-you-want pricing model, 
			which lets your customers pick a price above what you specify (including $0). 
			You can also price your products in £, €, and ¥.</p>
			<p>&nbsp;</p>
        	<p>&nbsp;</p>
       	  <h3>How can people pay?</h3>
        	<p>BuyBox supports all major credit cards (and some debit cards). 
			That includes Visa, MasterCard, American Express, Discover, JCB, and Diners Club cards.</p>
			<p>&nbsp;</p>
        	<p>&nbsp;</p>			


<h3> How do I upload pictures?</h3>

<p>BuyBox offers many ways for the users to upload pictures for the products. When you are listing your product, click Pick File and you can upload pictures from your computer, Facebook, Instagram, just enter the URL of the picture and many, many more easy ways to upload.</p>
      <p>&nbsp;</p>
          <p>&nbsp;</p>   
<h3>What if I don’t want to create an account?</h3>

<p>No worries. Just login to BuyBox with your Facebook account, and then fill in your payment information.</p>
      <p>&nbsp;</p>
          <p>&nbsp;</p>   
<h3>How does the QR Code work?</h3>

<p>When you are viewing a product on BuyBox, click the “QR Page” on top of the page and we will generate a QR code for you. Simply use the QR Code app on your phones to scan it and get the item in a blink!</p>
      <p>&nbsp;</p>
          <p>&nbsp;</p>   
<h3>What if I want to stop using BuyBox?</h3>

<p>In the account settings there is an option to “Cancel my Account”. But BuyBox is too great to leave behind!</p>
      <p>&nbsp;</p>
          <p>&nbsp;</p>   
<h3>How come I cannot purchase an item?</h3>

<p>All the buyers need to fill out their payment information and address before they are able to purchase any item. The other possibility is that the item may have been sold out, you could choose to contact the seller and let them know to restock.</p>
      <p>&nbsp;</p>
          <p>&nbsp;</p>   
<h3>What if I meet a bad seller?</h3>

<p>You have the options to contact them through E-mail to express your discontent or you can also “Rate the Seller” and leave your complaints on their page so that the other buyers are aware of this.</p>
      <p>&nbsp;</p>
          <p>&nbsp;</p>   
<h3>Can I quickly check out my orders?</h3>

<p>When you click the Inventory on the top bar you can see items you have sold, purchased, their status and the Overview contains a graph that details the profit that you make daily. Great and simple tool to keep up with your $$$!</p>
      <p>&nbsp;</p>
          <p>&nbsp;</p>   
<h3>I have more questions that are not answered here.</h3>

<p>Shoot us an email (link to contact us) and we will be happy to answer any question you have.</p>
      <p>&nbsp;</p>
          <p>&nbsp;</p>   



  </div>
</div>


