<a href="/users/sign_up"><%= image_tag('buy_sell_banner.png', :height => 225) %></a>
<%= image_tag('top_banner.png', :class => "pull-right") %>
<ul id="products" class="product_list search_product_list list_on_index" style="width: auto; padding-left: 5px; margin-top: 10px">
    <%= render :partial => "partials/product", :collection => @products %>
</ul>

<a href="/faq"><%= image_tag('qr_info.png') %></a>
 Staging