body{
    font-family: 'Open Sans', sans-serif;
}

.profile_tab_padding
{
    padding-left: 20px;
    padding-right: 20px;
}

.price_search_textfield
{
    width:75px;
    margin-right: 10px;
}

.product_search_textfield
{
width: 190px;
}
.search_header
{
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top;
    color: #FFFFFF
}
.product_image
{
    height:130px;
}

.product_information
{
    height:40px;
    border-top: 1px solid #BDBDBA;
    background-color: #E0E0E0;
    vertical-align: middle;
}

.product_name
{
    font-size: 17px;
    background-color: #E0E0E0;
    vertical-align: middle;
}

.product_price
{
    font-size: 17px;
    color: red;
    background-color: #E0E0E0;
    vertical-align: middle;
}

.product_list
{

    width: 200px;
    height: 250px;
    border: 1px solid #BDBDBA;
    float:left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.search_table
{
    border: 1px;
    margin-left: 10px;
    margin-right: 10px

}
.search_left_side_bar
{
    background-color: #51514C;
    width: 200px;
    vertical-align: top;
    padding-left: 15px;
    padding-right: 15px;
}

.search_right_side_bar
{
    text-align: center;
    padding-left: 20px;
    width: 720px;
}

.rating {
    float:left;
}

textarea#review_area {
  width: 600px;
  height: 150px;
  max-width: 600px;
  min-width: 600px;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:150%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}


.header
{
    font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.divider
{
border-bottom: 1px solid #EEE;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #EEE;
}

.review_table_no_bottom_margin
{
    margin-bottom: 0px;
}

.review_table
{
    width: 850px;
    margin-left: 15px;
}

.user_review_leftside
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;

    width:120px;
    text-align: center;
}

.user_review_rightside
{
    width:680px;
}

.rating_form
{
    width: 150px;
    text-align: center;
}
.user_profile_date_table
{
    width :380px; 
    text-align: center;
}

.circle {
    background:black;
    height:20px;
    width:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
 
    padding:10px;
    text-align:center;
    color:white;

}

.input-mysize { 
    width: 95px
}

.align_center
{
    text-align: center;
}

.user_signin
{
    text-align: left;

}

.fb_signin
{
    text-align: right;
}

.second_header
{
    font-size: 25px;
    display: inline-block;
    padding-right: 10px;
    padding-left: 20px;
}


.float_left
{
    float: left;
}
.no_account_header
{
    font-size: 17px;
    color: #D8D8D8;
        padding-right: 10px;

    display: inline-block;
}

.sign_up_now
{
    font-size: 17px;
    color: #045FB4;
    padding-right: 10px;

    display: inline-block;  
}

.fade {
   opacity: 1;
   transition: opacity .35s ease-in-out;
   -moz-transition: opacity .35s ease-in-out;
   -webkit-transition: opacity .35s ease-in-out;
   }

   .fade:hover {
      opacity: 0.2;
      }

.table_padding
{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom:10px;
    padding-left: 10px;
    padding-right: 10px;
}
.guest_nav
{   
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom:0px;
    padding-top: 20px;
}

.left_nav
{   
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom:0px;
    padding-top: 7px;
}
.right_nav
{   
    text-align: right;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom:0px;
    padding-top: 20px;

}



.login_nav
{   
    padding-top: 6px;
}

.content_padding
{   
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;

}


#header_container{
    width: 960px;
    margin: 0 auto;
    padding: 20px 0px;

    #main_navigation{
        width: 960px;

        #header_profile, #user_nav{
            float: right;
        }

    }
}

a, a:link, a:visited, a:active, a:hover {
    color: #0066CC;
    text-decoration: none;
}

#content_wrapper{
    width: 960px;
    margin: 0 auto;
    #content_container{
        padding: 10px;
    }
}

#footer{
    width: 960px;
    margin: 0 auto;
    padding: 20px 0;
    #left{
        display: inline-block;
        #rights{
            font-size: 13px;
            color: #878787;
        }
        #footer_links{
            padding-left: 20px;
            a, a:link, a:visited, a:active, a:hover {
                padding: 0 5px;
                font-size: 12px;
                color: #999999;
                text-decoration: none;
            }
        }
        #support{
            font-size: 12px;
            color: #999999;
        }
    }
    #right{
        float: right;
        background: url('twitter_follow.png') no-repeat 0 0;
        width: 112px;
        height: 20px;
    }
}

body#background_no_header, body#background_header{

}

#navigation_links{
    .navigation_item{
        line-height: 68px;
        display: inline-block;
        padding: 0 15px;
        font-size: 15px;
        a, a:link, a:visited, a:active, a:hover {
            color: #666666;
            text-decoration: none;
        }
    }
    .current_page{
        a, a:link, a:visited, a:active, a:hover {
            color: #0066CC;
            text-decoration: none;
        }
    }
}

#sub_navigation_links{
    border-bottom: 1px solid #CCCCCC;
    padding: 20px 20px 12px 20px;
    .navigation_item{
        line-height: 35px;
        display: inline-block;
        padding: 0 15px;
        font-size: 17px;
        a, a:link, a:visited, a:active, a:hover {
            color: #999999;
            text-decoration: none;
        }
    }
    .current_page{
        background-color: #999999;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        a, a:link, a:visited, a:active, a:hover {
            color: #FFFFFF;
        }
    }
}

#nav_signin{
    float: right;
    margin: 8px 10px 0 0;
    .green{
        background-color: #66C223;
        background-image: none;
        font-size: 16px;
        padding: 12px 16px;
    }
    .signin_btn{
        a, a:link, a:visited, a:active, a:hover {
            color: #666666;
            text-decoration: none;
        }
    }
}

#nav_signedin{
    background-color: #FFFFFF;
    float: right;
    padding-right: 0px;
    .m-btn-group{
        height: 35px;
    }
    .red{
        background-color: #FFFFFF;
        background-image: none;
        height: 35px;
    }
    .icon{
        margin: 11px 10px 0 10px;
    }
    .m-dropdown-menu{
        margin-top: 20px;
    }
    #profile_img_wrap{
        height: 35px;
        width: 35px;
        overflow: hidden;
        background-size: auto 100%;
        float: left;
        
    }
    #name{
        margin-left: 10px;
        color: #666666;
        font-size: 16px;
        float: left;
        line-height: 35px;

    }
}

#error_explanation {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  h2{
    font-size: 14px;
    line-height: 20px;
  }
}


.notice {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}