body{
    font-family: 'Open Sans', sans-serif;
}

.login_form
{   
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;

}

.login_nav
{   text-align: right;
    padding-top: 7px;
    padding-bottom: 20px;
    padding-right: 15px;

}

#header_container{
    width: 960px;
    margin: 0 auto;
    padding: 20px 0px;

    #main_navigation{
        width: 960px;

        #header_profile, #user_nav{
            float: right;
        }

    }
}

a, a:link, a:visited, a:active, a:hover {
    color: #0066CC;
    text-decoration: none;
}

#content_wrapper{
    width: 960px;
    margin: 0 auto;
    #content_container{
        padding: 10px;
    }
}

#footer{
    width: 960px;
    margin: 0 auto;
    padding: 20px 0;
    #left{
        display: inline-block;
        #rights{
            font-size: 13px;
            color: #878787;
        }
        #footer_links{
            padding-left: 20px;
            a, a:link, a:visited, a:active, a:hover {
                padding: 0 5px;
                font-size: 12px;
                color: #999999;
                text-decoration: none;
            }
        }
        #support{
            font-size: 12px;
            color: #999999;
        }
    }
    #right{
        float: right;
        background: url('twitter_follow.png') no-repeat 0 0;
        width: 112px;
        height: 20px;
    }
}

body#background_no_header, body#background_header{

}

#navigation_links{
    .navigation_item{
        line-height: 68px;
        display: inline-block;
        padding: 0 15px;
        font-size: 15px;
        a, a:link, a:visited, a:active, a:hover {
            color: #666666;
            text-decoration: none;
        }
    }
    .current_page{
        a, a:link, a:visited, a:active, a:hover {
            color: #0066CC;
            text-decoration: none;
        }
    }
}

#sub_navigation_links{
    border-bottom: 1px solid #CCCCCC;
    padding: 20px 20px 12px 20px;
    .navigation_item{
        line-height: 35px;
        display: inline-block;
        padding: 0 15px;
        font-size: 17px;
        a, a:link, a:visited, a:active, a:hover {
            color: #999999;
            text-decoration: none;
        }
    }
    .current_page{
        background-color: #999999;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        a, a:link, a:visited, a:active, a:hover {
            color: #FFFFFF;
        }
    }
}