// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.status_price
{
    font-size: 20px;
    font-weight: 200px;
    background-color: #C6C6B8;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 5px;
    padding-left: 5px; 
    text-align: center;
    color: #0066CC;
}

.status_instock
{
    font-size: 20px;
    font-weight: 200px;
    background-color: #00E600;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 5px;
    padding-left: 5px; 
    text-align: center;

}

.user_list_button
{
    font-size: 15px;
    font-weight: 200px;
    background-color: #CAD0D0;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}

.inventory_status_right_table
{
    width: 200px;
}
.inventory_status_left
{
    max-width: 150px;
    display: inline-table;
}

.inventory_status_right
{
     width: 100px;
    display: inline-table;


}
.inventory_product_name
{
    font-size: 25px;
    font-weight: 300px;
}

.inventory_table
{
    width: 920px;
    vertical-align: top;
    border-style:solid;
    border: 1px; 
    background-color: #F2F2F2;
    padding-top: 5px;
    padding-bottom: 5px;
}
.inventory_left
{
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
    vertical-align: top;

}
.inventory_middle
{
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;

}
.inventory_right
{
    width: 210px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;

}

.product_display_table
{
    width: 920px;
    min-height: 600px;
}

.user_display_name
{
    font-size: 30px;
    font-weight: 300px;
    color: #FFFFFF;
}

.user_divider
{
    height:10px;
    background-color: #4775FF;
}
.product_right_side_dark
{
    background-color: #494941;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.product_padding
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.product_available
{
    color:#00CC00;
    display: inline;
}
.product_unavailable
{
    color:#E60000;
    display: inline;
}
.product_price_display
{
    font-size: 30px;
    font-weight: 300px;
    color: #0066FF;
    padding-top: 10px;
    padding-bottom: 10px;
}
.product_rightside
{
    padding-left:10px;
    font-size: 18px;
    font-weight: 200px;
    display: inline;
    width: 300px;
}
.product_title
{
    font-weight: 300;
    font-size: 30px;
    padding-bottom: 15px;
    padding-top: 10px;
}
.product_image_display
{

    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 550px;
    height: 450px;
    background-color: #494941;
    text-align: center;
    display: inline;
    vertical-align: middle;

}
.search_product_list {
    width: 700px;
    margin: -10px 0 0 -5px;
}

.product_list {
    .product {
        width: 210px;
        height: 225px;
        display: inline-block;
        margin: 10px;
        border: 1px solid #CCCCCC;
        position: relative;
        .category{
            color: #FFFFFF;
            font-size: 11px;
            line-height: 14px;
            padding: 3px 7px;
            position: absolute;
            top: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.5);
        }
        .image{
            height: 170px;
            width: 210px;
        }
        .name_price{
            width: 100%;
            height: 55px;
            background-color: #F3F1F1;
            .information{
                display: inline-block;
                width: 140px;
                padding-left: 10px;
                a {
                    color: #333333;
                    font-size: 14px;
                    line-height: 16px;
                }
            }
            .price{
                color: #006C98;
                font-size: 22px;
                line-height: 55px;
                display: inline-block;
            }
        }
    }
}

.search_title {
    display: inline-block;
    font-size: 21px;
    line-height: 50px;
}

.product_sort {
    margin-top: 10px;
    float: right;
}

.search_left_title{
    font-size: 16px;
    line-height: 20px;
    color: #CCCCCC;
}

.product_categories{
    .category {
        color: #999999;
        font-size: 14px;
        line-height: 16px;
        display: inline-block;
        padding: 3px 7px;
        margin: 3px 1px;
        background-color: #666666;
        cursor: pointer;
        &:hover{
            color: #999999;
            background-color: #333333;
        }
    }
    .cat_active {
        color: #FFFFFF;
        background-color: #0090EA;
    }
}


.product_search_textfield
{
width: 190px;
}
.search_header
{
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top;
    color: #FFFFFF
}

.search_table
{
    border: 1px;
    margin-left: 10px;
    margin-right: 10px

}
.search_left_side_bar
{
    background-color: #51514C;
    width: 200px;
    height: 100%;
    vertical-align: top;
    padding-left: 15px;
    padding-right: 15px;
    margin: -40px 0 0 -20px;
    display: inline-block;
}

.search_right_side_bar
{
    padding-left: 10px;
    width: 685px;
    display: inline-block;
}

.product_image
{
    height:130px;
}

.product_information
{
    height:40px;
    border-top: 1px solid #BDBDBA;
    background-color: #E0E0E0;
    vertical-align: middle;
}

.product_name
{
    font-size: 17px;
    background-color: #E0E0E0;
    vertical-align: middle;
}

.product_price
{
    font-size: 17px;
    color: red;
    background-color: #E0E0E0;
    vertical-align: middle;
}

body#product_layout{
    background: url('bedge_grunge.png') repeat 0 0;

    #header{
        background-repeat: repeat;
        background-position: 0 0;
        height: 200px;
        width: auto;

        #header_container{
            #main_navigation{
                height: 64px;
                #header_logo{
                    width: 59px;
                    height: 55px;
                    background: url('logo_small.png') no-repeat 0 0;
                    float: left;
                }
            }
        }
    }
    #content_container{
        background-color: #FAFAFA;
        min-height: 300px;
        padding: 0;

        #product_header{
            height: 90px;
            margin-top: -90px;
            width: 100%;
            background-color: #FFFFFF;
            text-align: center;
            line-height: 90px;
            font-size: 30px;
            color: #333333;
            .category{
                color: #0066CC;
                font-size: 21px;
                font-weight: 300;
            }
        }

        #product_left{
            display: inline-block;
            width: 615px;
            .image{
                height: 350px;
                background-color: #2D2B2B;
            }
            .description{
                padding: 30px;
                font-size: 26px;
                line-height: 35px;
                font-weight: 300;
            }
        }
        #product_right{
            display: inline-block;
            width: 341px;
            vertical-align: top;
            #user_banner {
                background: #333333;
                padding: 10px;
            }
            #purchase{
                .stripes{
                    background: url('stripes.png') no-repeat 0 0;
                    height: 12px;
                }
            }
        }
        .product_footer{
            width: 100%;
            line-height: 35px;
            color: #FFFFFF;
            font-size: 18px;
            font-weight: 300;
            background-color: #999999;
            span{
                padding-left: 30px;
            }
        }
    }
}

#price_estimate {
    width: 650px;
    #pe_header {
        widht: 630px;
        font-size: 24px;
        line-height: 74px;
        color: #FFFFFF;
        font-weight: 300;
        height: 74px;
        background-color: #83CC4D;
        padding-left: 20px;
        .bold{
            font-weight: 700;
        }
    }
    #pe_content {
        height: 150px;
        width: 100%;
        background-color: #666666;
        input#pe_price{
            margin: 60px 0 0 40px;
            float: left;
        }
        #price_container{
            width: 300px;
            float: right;
        }
        #price_estimate_price{
            color: #FFFFFF;
            font-size: 40px;
            line-height: 50px;
        }
        #price_estimate_text{
            font-size: 18px;
            line-height: 24px;
            color: #999999;
        }

    }
}